body {
  font-family: sans-serif;
  justify-content: center;
  padding-bottom: 10px;
}

.logoImg {
  height: 0 auto;
  margin-top: 30px;
  margin-left: 10px;
}

.coDiv {
  margin-top: -40px;
}

.tableHolder {
  margin-top: 70px;
  margin-bottom: 70px;
}

.pdfButton {
  height: 100px;
}

.almightyPdfButton {
  margin: 0px 10px;
  display: block;
}

.almightyPngButton {
  margin: 0px 10px;
  display: block;
}

.navButtonsHolder {
  margin-top: 20px;
}

.paper {
  float: right;
  width: 63%;
  height: auto;
  margin: 20px 0px;
  padding: 100px 40px;
}

h3 {
  font-size: 1.5em;
}

@media only screen and (max-width: 1030px) {
  .paper {
    padding: 50px 31px;
  }
  h3 {
    font-size: 1.25em;
    font-weight: bold;
  }
}

.swipeContainer {
  margin-top: 20px;
  float: left;
  position: fixed;
  width: 37%;
  height: auto;
  position: fixed;
}


.mainDiv {
  justify-content: center;
  align-items: center;
  align-content: center;
}

.nameInfoHolder {
  margin-left: 20px;
  margin-bottom: 50px;
}

table {
  align-self: center !important;
  align-content: center;
  text-align: center !important;
  align-items: center;
}

td {
  vertical-align: middle !important;
  align-content: center;
  text-align: center !important;
}
